# Local Netlify folder
.netlify

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Xcode user-specific files
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xcscheme
*.xcschememanagement.plist
xcshareddata/

# Temporary and debug files
*.zip
*debug*
*.log

# Build artifacts
build/
DerivedData/

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods (if used)
Pods/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
