[build]
  base = "KANJY/web-frontend"
  publish = "KANJY/web-frontend"
  command = "echo 'No build process needed'"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  NODE_ENV = "production"

