[build]
  command = "echo 'No build process needed'"
  publish = "KANJY/web-frontend"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  NODE_ENV = "production"

